/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * FONTS
 */

@font-face {
  font-family: 'Silkscreen Web';
  src: url('../../public/fonts/slkscr-webfont.eot');
  src: url('../../public/fonts/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../public/fonts/slkscr-webfont.woff') format('woff'),
    url('../../public/fonts/slkscr-webfont.ttf') format('truetype'),
    url('../../public/fonts/slkscr-webfont.svg#silkscreennormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**
 * GAME
 */

html {
  font-size: 16px;
}

body {
  align-items: center;
  display: flex;
  font-family: 'Silkscreen Web', monotype;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

.realH1{
  display: none;
  padding-bottom: 1rem; 
}

.fakeStart{
  height: 256px;
  width: 512px;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fakeStart h1{
  color: white;
  margin-top: 20px;
}

.fakeStart select {
  font-family: 'Silkscreen Web', monotype;
  background-color: #353535;
  border-color: #353535;
  overflow-y: hidden;
  margin-top: auto;
  color: white;

}

.fakeStart option:focus {
  content: '\f0da';
  font-family: FontAwesome;
}

.fakeStart option {
line-height: 2.0;
}

.credits{
  margin-top: auto;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 0.8rem;
}

p{
  line-height: 1.5;
}

.controls{
  display: none;
  height: 256px;
  width: 512px;
  background-color: #353535;
  align-items: center;
  justify-content: center;

}

.textContainer{
  border: 2px dotted white;
   width: 90%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
}

.controls h1, .rules h1{
  font-size: 1.5rem;
  width: 100%;
  color: white;
  margin-top: 20px;
}

.player1,.player2{
  width:50%;

}
.controls h2{
  font-size: 1.0rem;
  /* margin-left: 20px; */
text-align: center;
  color: white;
}
.controls p, .rules li{
  font-size: 1.0rem;
text-align: center;
/* padding-left: 30px; */
  color: white;
}

.down:before{
  content: "\f0d7";
  font-family: FontAwesome;
  color: white;
}

.up:before{
  content: "\f0d8";
  font-family: FontAwesome;
  color: white;
}
.goBack p:before{
  content: "\f0da";
  font-family: FontAwesome;
  color: white;
  display: inline-block;
}

.goBack {
  width: 100%;
}

.rules{
    display: none;
    height: 256px;
    width: 512px;
    background-color: #353535;
    align-items: center;
    justify-content: center;
  
  }

  .rules ul{
    list-style-type: square;
    text-align: left;
    width: 85%;
    margin: 0 auto;
  }

  .rules li{
    text-align: left;
  }

  .textMessage{
    display: none;
    max-width: 512px;
    text-align: center;
  }

/* .startMenu option:before{
  /* font-family: 'Silkscreen Web', monotype; 
  content: '\f0da';
  font-family: FontAwesome;
  display: inline-block;
} */




/* .startMenu select{
  display: none;
} */